<!-- resourceDetails.ejs  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= resource.title %> - Inclusive Learning Hub</title>
    </head>
<body>
    <h1>Resource Details: <%= resource.title %></h1>
    <p>Description: <%= resource.description %></p>
    <p>Category: <%= resource.category %></p>
    <p>Type: <%= resource.type %></p>
    
    <% if (resource.type === 'link') { %>
        <a href="<%= resource.url %>" target="_blank">Go to Resource Link</a>
    <% } else if (resource.type === 'video') { %>
        <p>Video content would be embedded here using the URL: <%= resource.url %></p>
    <% } else { %>
        <p>File can be viewed or downloaded.</p>
        <a href="/user/resource/download/<%= resource._id %>" class="btn">Download File</a>
    <% } %>

    <a href="/user/viewResources">Back to Resources</a>
</body>
</html>